/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* Added wildcard * selector to override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* vody should take up full height of screen */
    display: flex;
    /* responsive design */
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #003366;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    /* Keep header in position when scrolling on mobile phone */
    z-index: 99;
    /* Raise header on z axis to layer above everything */
    width: 100%;
    /* Fill full width */
    box-shadow: 0px 2px 6px 0px #3A3A3A;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 5px solid #b70f26;
    border-bottom: 5px solid #b70f26;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
    font-weight: 700;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styling with dropdown */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    /* Full width of screen */
    left: 0;
    /* Align Left */
    padding: 0 1rem;
    box-shadow: 0px 2px 6px 0px #3a3a3a;
    display: none;
    /* Hide nav elements, html needed to create open/dropdown  */
    top: 100%;
}

/* Navigation Toggle */
#toggle-nav:checked~nav {
    display: block;
}

#toggle-nav {
    display: none;
}

.toggle-nav-label {
    font-size: 2rem;
}

/* Main */
main {
    background-color: #ffffff;
    /* Make main element take up all availavle space, pushing footer to the bottom */
    flex: 1 0 auto;
    /* use flex - grow - automatically take up all the space  */
    margin-top: 48px;
    display: flex;
    /* Enable flex */
    flex-direction: column;
}

/* Hero Section */
#hero-section {
    height: 500px;
    width: 100%;
  background: url("../images/hero-image-learn-to-sail.webp") no-repeat center center/cover; 
    position: relative;
}

/* Positioning hero text box */
#hero-text {
    background-color: RGBA(183, 15, 38, 0.50);
    box-shadow: 0px 2px 6px 0px #3a3a3a;
    /* Opacity on bg color for effect */
    position: absolute;
    /* Position hero text box on screen */
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 30px;
    padding-left: 10px;
}

/* hero styling h2 and h3 text */
#hero-text h2,
h3 {
    font-size: 120%;
    color: #ffffff;
    /* text shadow to make heading pop on the opaqye bg */
    text-shadow: 1px 1px 1px #3A3A3A;
    text-transform: capitalize;
    /* Added to capatilise first letter in each h2 and h3 word */
}

/* hero styling h2 specific text */
#hero-text>h2 {
    padding-bottom: 10px;
    font-size: 140%;

}


iframe {
    width: 100%;
    height: 100%;
}

#map-wrap {
    height: 300px;
}

#ksail-location h2 {
    text-align: center;
}

/* About Us Page */

/* Hero image styling */
#about-hero-section {
    height: 500px;
    width: 100%;
    background: url("../images/ksail-sailing-club.webp") no-repeat center center/cover;
    position: relative;
}


/* Ksail resons styling */
#about-intro h2 {
    margin-bottom: 20px;
    text-align: center;
}

#about-intro h3 {
    color: #003366;
    text-shadow: none;
    text-align: center;
}

#ksail-club-offerings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url("../images/ksail-sailing-club.webp") no-repeat center center/cover;
}


/* Give div in club offering section darker background to stand */
#ksail-club-offerings>div {
    background-color: #003366cf;
    min-height: 200px;
    text-align: center;
    padding-top: 2rem;
    /* will not wrap on screens of 400px or less
       Each div will expand to fill the spave available on the row. */
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid #ffffff;
}



/* About us page section break  */

#about-section-break {
    /* Space top and bottom and center */
    margin: 20px auto;
}

#about-section-break h2 {
    text-align: center;
    color: #003366;
}


/* Clubs in our club */
#ksail-clubs {
    display: flex;
    flex-wrap: wrap;
}


/* Give div in club offering section darker background to stand */
#ksail-clubs div {
    background-color: #003366a6;
    padding: 10px;
    height: 200px;
    /* will not wrap on screens of 400px or less
       Each div will expand to fill the spave available on the row. */
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid #ffffff;
}

#ksail-clubs h3 {
    background-color: #00336672;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #3A3A3A;
}

#dining {
    background: url('../images/dining.webp') no-repeat center/cover;
    flex-grow: 1;
}

#fit {
    background: url('../images/fitness.webp') no-repeat center/cover;
    flex-grow: 1;
}

#snooker {
    background: url('../images/snooker.webp') no-repeat center/cover;
    flex-grow: 1;
}

#bridge {
    background: url('../images/bridge.webp') no-repeat center/cover;
    flex-grow: 1;
}

#art {
    background: url('../images/art-class.webp') no-repeat center/cover;
    flex-grow: 1;
}



/* Style ksail reasons div*/
#ksail-reasons {
    width: 90%;
    /* Space top and bottom and center */
    margin: 20px auto;

}

/* Style #ksail-reasons h2 text */
#ksail-reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

/* Give decendant divs line height and bottom margin */
#ksail-benefits-section1>div,
#ksail-benefits-section2>div {
    line-height: 20px;
    margin-bottom: 20px;
    /* fix for uneven content div heights in flexbox */
    max-height: 100px;
}

/* Give decendant paragraph text padding */
#ksail-benefits-section1 p,
#ksail-benefits-section2 p {
    padding: 5px 20px;
}

/* Style the hr break */
hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}






/* ksail choices styling background image with color overlay*/
#ksail-choices {
    background: url('../images/learning-to-sail.webp') no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

/* Give div in choices section darker background to stand */
#ksail-choices div {
    background-color: #003366cf;
    padding: 10px;
    /* will not wrap on screens of 400px or less
       Each div will expand to fill the spave available on the row. */
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid #ffffff;
}



/* Style choice list items */
#ksail-choices li {
    color: #ffffff;
    list-style: outside;
    margin-left: 1rem;
    line-height: 1.5rem;
}

/* ksail reasons reset h2 and h3 to standard color and no shadow */

#ksail-reasons h3 {
    color: #003366;
    text-shadow: none;
}

/* Ksail Sailing choices Css */
#ksail-section {
    height: 500px;
    width: 100%;
    background: url("../images/ksail-get-going.webp") no-repeat center center/cover;
    position: relative;
}

/* Ksail Section Styling to break content */
#ksail-text {
    background-color: RGBA(183, 15, 38, 0.60);
    box-shadow: 0px 2px 6px 0px #3a3a3a;
    /* Opacity on bg color for effect */
    position: absolute;
    /* Position hero text box on screen */
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 30px;
    padding-left: 10px;
}


/* ksail styling h2 and h3 text */
#ksail-text h2,
h3 {
    font-size: 120%;
    color: #ffffff;
    /* text shadow to make heading pop on the opaqye bg */
    text-shadow: 1px 1px 1px #3A3A3A;
    text-transform: capitalize;
    /* Added to capatilise first letter in each h2 and h3 word */
}

/* ksail styling h2 specific text */
#ksail-text>h2 {
    padding-bottom: 10px;
    font-size: 140%;

}


/* KSail Gallery Page */
img {
    width: 100%;
    /* Make images fit width of device screen */
    line-height: 1em;
    /* If image path breaks, alt text should be visible  */
}

#ksail-photos {
    line-height: 0px;
    /* Remove white space between images in gallery */
}



/* Ksail Contact Page */


/* Style background container on contact page*/


#ksail-enquiry-container {
    width: 100%;
    background: url("../images/ksail-enquiry.webp") no-repeat center center/cover;
    position: relative;
}

/* Add a background image to the Contact form page */
#ksail-enquiry {
    background-color: #003366c5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-basis: 200px;
}

#ksail-enquiry>div {
    flex-grow: 1;

}

/* Give the contact form a dark bg for contrast and transparency */
#contact-form {
    color: #ffffff;
    /* Comment out for testing  background-color: rgba(60, 60, 60, 0.7); */
    padding: 30px;
}

/* Form header pop */
#ksail-form>h2 {
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

/* Format input fields */
.text-input,
.tel-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/* Form enquiry items Taste, Start, Improver */

.ksail-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Style Submit Button */
.enquiry {
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #b70f26;
    color: #fafafa;
}

#ksail-address {
    /* Comment out for testing background-color: rgba(60, 60, 60, 0.7); */
    padding-left: 10px;
    padding-bottom: 20px;
}

#ksail-address h3 {
    font-size: 1rem;
}

#ksail-address li {
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    list-style: none;
    padding: 5px;
}



/* Footer */
footer {
    background-color: #b70f26;
}

#social-network {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
}


/* Media query: mobile phone (280px and up)  */

@media only screen and (min-width: 280px) {

    /* On mobile phones, add the height of the footer to
       the bottom of the page to allow for the sticky footer covering
       content */
    body {
        padding-bottom: 60px;
    }

    #hero-text>h2,
    #hero-text>h3 {
        color: #ffffff;
        text-shadow: 1px 1px 1px #3A3A3A;
    }


    footer {
        position: fixed;
        /* Keep footer in position when scrolling */
        z-index: 99;
        /* Raise header on z axis to layer above everything */
        width: 100%;
        /* Fill full width */
        box-shadow: 0px -2px 6px 0px #3A3A3A;
        bottom: 0;
        /* Fix footer to bottom of the screen */
    }

    /* Style intro text on page */
    #ksail-reasons>h2 {
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: center;
        color: #ffffff;
        background-color: #003366;
    }

    #ksail-reasons>h3 {
        font-size: 1rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #ksail-location h2 {
        font-size: 1rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }

    
    #ksail-gallery > h2 {
        text-align:center;
        font-size: 1rem;
        padding: 10px 0;
    }

    #hero-text > h3 {
        font-size: 1rem;
    }

}


/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        /* always show */
        position: relative;
        /* show inside header */
        box-shadow: none;
        /* remove box shadow */
        width: fit-content;
        /* Change width to fit content */
        padding-right: 1rem;
        /* add some padding on right to keep off border */
    }

    #menu {
        display: flex;
        /* Show menu items in a row */
    }

    #menu>li {
        padding-left: 1rem;
        /* Add padding between meny items */
        font-size: 1.5rem;
        /* font-weight: 700; */
    }

    .toggle-nav-label {
        display: none;
        /* Hide nav label */
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0.5rem;
    }

    main {
        /* Push main content down 75px on the larget screen */
        margin-top: 75px;
    }

    #hero-text {
        width: 300px;
        right: 30px;
    }

    #ksail-text {
        width: 300px;
        right: 30px;
    }

    /* added responsive design on larger screens to use up space */
    /* Set flexbox on container */
    #ksail-benefits {
        display: flex;
        flex-direction: row;
    }

    /* Allow benefit divs take as much space as possible */
    #ksail-benefits>div {
        flex: 1;
    }

    /* section 1 div's align at start of flex box, in this case left */
    #ksail-benefits-section1>div {
        align-self: flex-start;
        padding: 1rem;
    }


    /* section 2 div's align at end of flex box, in this case right */
    #ksail-benefits-section2>div {
        align-self: flex-end;
        padding: 1rem;
    }

    .ksail-choice-list {
        min-height:  300px;
    }

    /* Gallery images two columns for better experience */
    #ksail-photos {
        column-count: 2;
        column-gap: 0;
    }

    /* Ksail enquiry container styling */
    #ksail-enquiry-container {
        padding-top: 10vh;
        height: 65vh;
    }

    /* Contact form styling */
    #ksail-enquiry {
        width: 80%;
        margin: 0 auto;
        background-position: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;

    }

    #ksail-enquiry>div {
        padding-top: 40px;
        flex-grow: 1;
        flex-basis: 200px;
        max-width: 45%;
    }

    #ksail-location h2 {
        font-size: 1.25rem;
    }

    #about-intro {
        margin: 10px auto;
    }

    #about-intro h3 {
        font-size: 1.5rem;

    }

    #ksail-gallery {
        padding-top:50px;
    }

    #ksail-gallery > h2 {
        font-size: 1.5rem;
        padding: 20px 0;
    }


}

/* Media query: laptops and larger (992px and up) */

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* add padding to divs to separate */
    #ksail-benefits-section1>div {
        padding: 1rem;
    }

    #ksail-benefits-section2>div {
        padding: 1rem;
    }

    .ksail-choice-list {
        min-height:  250px;
    }

    /*  Gallery images 4 columns */
    #ksail-photos {
        column-count: 4;
        column-gap: 0;
    }

    /* Position contact form exactly where I want it on page */



    #ksail-form {
        max-width: 400px;
        /* Move it outside the normal document */
        /* position: absolute; */
        left: 15%;
        /* position it from the top */
        top: 250px;
    }

    #about-intro {
        margin: 10px auto;
    }

    #about-intro h3 {
        font-size: 1.5rem;

    }

}