/* Added wildcard * selector to override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; /* vody should take up full height of screen */
    display: flex; /* responsive design */
    flex-direction: column;
    color: #3a3a3a;
}

/* Header */
header {
    background-color: coral;
}

/* Main */
main {
    background-color: lightblue;
    /* Make main element take up all availavle space, pushing footer to the bottom */
    flex: 1 0 auto; /* use flex - grow - automatically take up all the space  */
}

/* Footer */
footer {
    background-color: orange;
}