/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* Added wildcard * selector to override browser defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; /* vody should take up full height of screen */
    display: flex; /* responsive design */
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Lato' , sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed; /* Keep header in position when scrolling on mobile phone */
    z-index: 99; /* Raise header on z axis to layer above everything */
    width: 100%; /* Fill full width */
    box-shadow: 0px 2px 6px 0px #3A3A3A;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#3a3a3a;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styling with dropdown */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%; /* Full width of screen */
    left: 0; /* Align Left */
    padding: 0 1rem;
    box-shadow: 0px 2px 6px 0px #3a3a3a;
    display: none; /* Hide nav elements, html needed to create open/dropdown  */
    top: 100%;
}

/* Navigation Toggle */
#toggle-nav:checked~nav {
    display: block;
}

#toggle-nav {
    display: none;
}

.toggle-nav-label {
    font-size: 2rem;
}

/* Main */
main {
    background-color: lightblue;
    /* Make main element take up all availavle space, pushing footer to the bottom */
    flex: 1 0 auto; /* use flex - grow - automatically take up all the space  */
    margin-top: 40px;
}

/* Footer */
footer {
    background-color: orange;
}

/* Media query: tablets and larger (760px and up) */

@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block; /* always show */
        position: relative; /* show inside header */
        box-shadow: none; /* remove box shadow */
        width: fit-content; /* Change width to fit content */
        padding-right: 1rem; /* add some padding on right to keep off border */
    }

    #menu {
        display: flex; /* Show menu items in a row */
    }

    #menu > li {
        padding-left: 1rem; /* Add padding between meny items */
    }

    .toggle-nav-label {
        display: none; /* Hide nav label */
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        /* Push main content down 75px on the larget screen */
        margin-top: 75px;
    }
}

/* Media query: laptops and larger (992px and up) */

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}